body {
  background-color: blanchedalmond;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainM {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
    margin-top: 10rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#cookieData {
  min-height: 15rem;
  border-radius: 15px;
}

#uploadButton {
  border-radius: 20px;
  width: 8rem;
  background-color: green;
  color: white;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
}
#getButton {
  border-radius: 20px;
  width: 8rem;

  background-color: darkgrey;
  color: white;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
}

#fileInput{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background-color:dimgray;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}